# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.eslintcache
.node_repl_history

# Logs
logs/
*.log

# Environment variables
.env
.env.*.local
.env.local

# Build artifacts
build/
dist/
public/build/
public/dist/

# Optional: IDE and OS specific files
.idea/
.vscode/
.DS_Store
Thumbs.db